PyYAML==3.12
Sphinx==1.6.3
bumpversion==0.5.3
coverage==4.4.1
flake8-import-order==0.12
flake8==3.4.1
grpcio-tools>=1.2.0
hypothesis==3.44.2
pip==9.0.1
pytest==3.2.1
tox==2.7.0
wheel==0.29.0
flake8-docstrings==1.1.0
mock==2.0.0
pifpaf>=0.27.1
