PyYAML==5.1
Sphinx==1.8.2
bumpversion==0.5.3
coverage
flake8-import-order==0.18
flake8
grpcio-tools>=1.2.0
hypothesis
pip==18.1
pytest==4.0.1
wheel==0.31.1
pycodestyle
tox==3.5.3
flake8-docstrings
mock==2.0.0
pifpaf>=0.27.1
