PyYAML==3.12
Sphinx==1.5.5
bumpversion==0.5.3
coverage==4.3.4
flake8-import-order==0.12
flake8==3.3.0
grpcio-tools>=1.2.0
hypothesis==3.8.1
pip==9.0.1
pytest==3.0.7
tox==2.6.0
wheel==0.29.0
flake8-docstrings==1.0.3
mock==2.0.0
